
.dropdown {
  position: relative;
  display: flex;
  border-right: 0.2rem solid $brand-primary;
  font-size: 1rem;
  padding: 0.5rem;
  flex-grow: 1;
  justify-content: center;
  align-items: center;


  &__options {
    display: none;
    position: absolute;
    right: 0%;
    bottom: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
  }

  &:hover {
    .dropdown__options {
      display: flex;
      color: $brand-primary;
    }
  }
}

.dropdown__options-item-shirt-color--pink  {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $pink;
  border-bottom: 0;

  &:hover {
    font-size: 140%;
  }
}
.dropdown__options-item-shirt-color--blue {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $blue;
  border-bottom: 0;

  &:hover {
    font-size: 140%;
  }

}
.dropdown__options-item-shirt-color--yellow {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $yellow;
  border-bottom: 0;

  &:hover {
    font-size: 140%;
  }

}
.dropdown__options-item-shirt-color--green {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $green;

  &:hover {
    font-size: 140%;
  }

}
.dropdown__options-item {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;

  &:hover {
    font-size: 140%;
  }


&-s {
  border-bottom: 0;
}
&-m {
  border-bottom: 0
}
&-l {
  border-bottom: 0
}
}
