// @import 'yoga';
// @import 'normalize';

@import 'variables';
@import 'font-awesome';
@import 'base';
@import 'grid';
@import 'shop-item';
@import 'shop-btn';
@import 'dropdown';

.shop-item {
  margin: 0.5em;

  border: 0.2rem solid $brand-primary;
  }

.shop-item__shirt {
  width: 100%;
  padding: $gutter;
}

.shop-item__info {
  padding-left: $gutter;
  padding-right: $gutter;
}

.shop-item__title {
  display: flex;
  justify-content: center;
}

.shop-item__desc {
  display: flex;
  justify-content: center;
}
