// @import 'yoga';
// @import 'normalize';
@import 'variables';
@import 'font-awesome';
@import 'base';
@import 'grid';
@import 'shop-item';
@import 'shop-btn';
@import 'dropdown';


@media screen and (min-width: 500px) and (max-width: 980px) {
  .grid-item {
    width: calc(100% / 1 - #{$gutter});
    min-width: 30rem;
  }
  .shop-item {
    flex-direction: row;
    justify-content: flex-start;
  }

  .shirt-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shop-item__shirt {
    width: 70%;
  }

  .shop-item__info {
    padding-top: $gutter;
    padding-bottom: $gutter;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .shop-btn {
    border: 0;
    border-top: 0.2rem solid $brand-primary;
    &:first-of-type {
      border: 0;
    }
  }
  .shop-item__btns {
    flex-direction: column;
    border: 0;
    border-left: $brand-primary 0.2rem solid;
  }
  .dropdown__options {
    height: calc(100% + .2rem);
    flex-direction: row;
    font-size: 1rem;
    right: 100%;
    bottom: 0;
    width: initial;
    border: 0.2rem;
  }
  .dropdown {
    border-right: 0;
  }
  .dropdown__options-item-shirt-color--pink {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
  }
  .dropdown__options-item-shirt-color--blue {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
    border-left: 0;
    border-right: 0;
  }
  .dropdown__options-item-shirt-color--yellow {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
    border-right: 0;
  }
  .dropdown__options-item-shirt-color--green {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
  }
  .dropdown__options-item-s {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
  }
  .dropdown__options-item-m {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
  }
  .dropdown__options-item-l {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
  }
  .dropdown__options-item-xl {
    border-bottom: 0.2rem solid $brand-primary;
    align-self: center;
  }
}
